
    {% block content %}
    <div class="container">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.description }}</td>
                <td>R$ {{ product.price }}</td>
                <td>
                  <div class="d-flex gap-3">
                    <i class="bi bi-pencil" style="color: #FFC71F; cursor: pointer;" title="Editar"></i> 
                    <i class="bi bi-trash" style="color: #F5554A; cursor: pointer;" title="Deletar"></i>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}