{% block content %}
{% for product in products %}
<div class="modal fade" id="delProductModal{{ product.id }}" tabindex="-1" aria-labelledby="delProductModalLabel{{ product.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delProductModalLabel{{ product.id }}">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the product?</p>
                {{ product.title }}
                <form action="{% url 'del_product' id=product.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" data-product-id="{{ product.id }}">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}



